@use "../util" as *;
@use "../globals/" as *;

.alert{
    min-width: rem(225);
    position: absolute;
    top: rem(90);
    right: rem(13);
    padding: rem(15);
    border-radius: rem(10);
    @include flex-align-center;
    overflow: hidden;
    z-index: 10;
    animation: show 1s ease forwards;
    animation-delay: 300ms;
   

    &--hide{
        animation: hide 1s ease forwards;
    }

    &--success{
        background: lighten($success, 60);
        border-left: rem(4) solid $success;
        

        .alert__icon, .alert__message{
            color: $success;
        }
    }

    &__icon{
        font-size: rem(30);
        margin-right: rem(8);
    }

    &__message{
        font-size: rem(14);
    }

    &__close{
        margin-left: auto;
        color: $dark200;
        font-size: rem(25);
        cursor: pointer;
        transition: 175ms;

        &:hover{
            transform: scale(1.12);
        }
    }

    
}

@keyframes show {
    0%{
      transform: translateX(100%);
    }
    40%{
      transform: translateX(-10%);
    }
    80%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(rem(-10));
    }
  }

  @keyframes hide {
    0%{
      transform: translateX(rem(-10));
    }
    40%{
      transform: translateX(0%);
    }
    80%{
      transform: translateX(-10%);
    }
    100%{
      transform: translateX(110%);
    }

  }