@use "../util" as *;
@use "../globals/" as *;

.toggleswitch {
  position: relative;
  width: rem(70) !important;
  height: rem(40);
  border-radius: rem(30) !important;
  appearance: none;
  cursor: pointer;
  transition: 500ms;

  &--resident-profile {
    background: darken($light300, 15) !important;
  }

  &::before {
    content: "";
    position: absolute;
    @include wh(rem(30));
    border-radius: 50%;
    top: rem(5);
    left: rem(5.5);
    background: $light100;
    transition: 500ms;
  }

  &:checked {
    background: $primary !important;

    ~ .toggleswitch__indicator--on {
      color: $primary;
      font-weight: 500;
    }

    // ~ .toggleswitch__indicator--off {
    //   color: $dark100 !important;
    // }
  }
  &:not(.toggleswitch:checked) {
    ~ .toggleswitch__indicator--off {
      color: $dark400;
      font-weight: 500;
    }
  }

  &:checked::before {
    transform: translateX(rem(29));
  }

  &__wrapper {
    height: rem(45);
    // display: grid;
    // grid-template-columns: repeat(3, auto);
    @include flex-align-center;
    gap: rem(8);
  }

  &__indicator {
    color: $dark100;
    transition: 500ms;

    &--off {
      order: -1;
    }

    // &--light {
    //   color: $primary;
    //   font-size: rem(14);
    //   font-weight: 500;
    // }

    // &--darken {
    //   color: $dark400;
    //   font-size: rem(13);
    //   font-weight: 500;
    // }
  }
}
