@use "../util" as *;
@use "../globals/" as *;

.reports {
  // &__tabs-list {
  //   background: $light400;
  //   padding: rem(14) rem(20);
  //   border-radius: rem(8);
  // }

  &__tabs-item {
    display: inline-block;
    font-size: rem(12);
    padding: rem(8);
    border-radius: rem(8);
    background: $light400;
    color: $dark300;
    letter-spacing: rem(0.5);

    &:first-child {
      margin-right: rem(10);
    }
  }
}
