@use "../util" as *;
@use "../globals/" as *;

.reports {
  @include flex-justify-center;
  flex-direction: column;
}


.tabContent.reports{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(50);
}

.graph{

  h1{
    white-space: nowrap;
    margin-bottom: rem(10);
  }
}

#reportForm{
  @include flex-center-all;
}

.input-date-range {
  position: relative;
  @include flex-center-all;
  flex-wrap: nowrap;
  align-content: flex-start;

  h4{
    margin: 0 rem(20);
  }
}

