@use "../util" as *;
@use "../globals/" as *;


.residents {
  &__header-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: rem(8);
    width: 101%;
  }
}

#residents {
  &__filter-container {
    display: flex;
    justify-content: flex-end;
  }
}

#add-resident,
#export-resident {
  white-space: nowrap;
  p {
    @include breakpoint-down(small) {
      display: none;
    }
  }

  .bx {
    @include breakpoint-down(small) {
      margin-right: 0;
    }
  }
}

.action {
  &__cert,
  &__view {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__cert {
    @include breakpoint-down(medium) {
      display: none;
    }
  }

  &__view {
    @include breakpoint-down(small) {
      background: transparent;
      color: $dark300;
      width: rem(10);

      &:hover {
        color: lighten($dark300, 8);
        background: transparent;
      }

      .bx {
        font-size: rem(22);
        margin-right: 0;
      }
    }
  }
}

.profile {
  &__img {
    @include wh(rem(150));
    position: relative;
    background: $light400;
    overflow: hidden;
    border-radius: 50%;
    margin-top: rem(20);
    // border: dashed rem(1) $dark100;

    @include breakpoint-down(small) {
      @include wh(rem(100));
    }

    img {
      @include wh(100%);
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;

    }

   

    &--buttons {
       @include flex-center-all;
          gap: rem(10);
    }

    // &--change {

    //   transition: 300ms;

    //   img {
    //     transition: 150ms;
    //     // cursor: pointer;
    //   }

      

    //   // .bx {
    //   //   margin: 0;
    //   //   color: $light100;
    //   //   transition: 200ms;

    //   //   &:hover {
    //   //     // color: darken($primary, 10);
    //   //     transform: scale(1.2);
    //   //   }
    //   // }

    //   &:hover {
    //     img {
    //       // background: rgba($dark400, 0.5);
    //       mix-blend-mode: multiply;
    //   background: rgba($dark400, 0.4);

    //     }

    //     .img-buttons {
    //       top: 50%;
    //       left: 50%;
    //       transform: translate(-50%, -50%);
    //       @include flex-center-all;
    //       flex-direction: column;
    //       gap: rem(8);
    //     }
    //   }
    // }
  }

  &__name {
    font-size: rem(28);
    font-weight: 600;

    @include breakpoint-down(medium) {
      font-size: rem(22);
    }
  }
}

.profile-info {
  &__list {
    text-align: center;
    margin: rem(30) 0 rem(40) 0;

    &.newresident {
      margin-top: rem(35);
      // display: none;
    }
  }

  &__item {
    // padding: 0 rem(30);
    display: inline-block;
    margin: 0 rem(14) rem(14) 0;
    padding-right: rem(14);
    // border-right: rem(1) $dark200 solid;

    @include breakpoint-down(medium) {
      // padding: 0 rem(10);
      margin-right: rem(18);
      padding-right: rem(18);
    }

    &:last-child {
      border-right: none;
    }

    span {
      cursor: pointer;
      color: $dark200;
      font-size: rem(14);
      transition: 300ms;

      &:hover {
        color: $dark400;
        letter-spacing: rem(0.5);
      }

      @include breakpoint-down(medium) {
        font-size: rem(12);
      }
    }

    &--active {
      span {
        padding: rem(8) rem(10);
        border-radius: rem(8);
        background: darken($light400, 3);
        color: $dark400;
        letter-spacing: rem(0.5);
      }
    }
  }

  &__content {
    width: 100%;
    font-size: rem(15);
    display: none;

    @include breakpoint-down(medium) {
      font-size: rem(14);
    }
  }

  &__container {
    @include flex-justify-center;
  }

  &__basic-info,
  &__voting,
  &__others,
  &__emergency {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem(275), 1fr));
    column-gap: rem(25);
    row-gap: rem(20);
  }
}

