/* COLORS */
$primary: #ef6a61;
$light100: #fdfdfd;
$light200: #f9f9f9;
$light300: #f5f5f5;
$light400: #f1f1f1;
// $light: #f7f7f7;
$dark100: #9fa3b1;
$dark200: #707070;
$dark300: #474747;
$dark400: #222;
$danger: #f94f51;
$warning: #feaf46;
$info: #00c1e0;
$success: #02b854;

$shadow: 0px 3px 18px rgba(black, 0.1);
